tarotgodon.flow
[{"id":"1bb5aa15.f45906","type":"subflow","name":"Tirage 3 cartes","in":[{"x":70,"y":70,"wires":[{"id":"91236fab.0a08b"}]}],"out":[{"x":560.9999694824219,"y":69,"wires":[{"id":"91236fab.0a08b","port":0}]}]},{"id":"91236fab.0a08b","type":"function","z":"1bb5aa15.f45906","name":"Tirage 3 cartes","func":"//////////////////////////////////////////////////////\n//\t\t\t\t\t 14 juin 2015\t\t\t\t\t//\n// \t\t \t\t\t MONTRÉAL\t\t\t\t\t\t//\n//\t\t \t\t\t Tarot.js\t\t\t\t\t\t//\n//\t\t\t\t Par Christophe Godon\t\t\t\t//\n//////////////////////////////////////////////////////\n\n\n// TO DO\n// Ajouter une unage\n// Faire un fichier HTML\n\n// Un Paquet contient des figures auxquelles sont associés un chiffre romain et une description\nfunction Carte(_figure, _roman, _description, _image) \n{\n\tthis.figure = _figure;\n\tthis.roman = _roman;\n\tthis.desc = _description;\n\tthis.url = _image;\n}\n\nfunction Paquet() \n{\n this.type = [];\n this.cartes = [];\n\tthis.tirage = [];\n\t\n// Liste des chiffres romains \n this.romanNumbers = [\"I\", \"II\", \"III\", \"IV\", \"V\", \"VI\", \"VII\", \"VIII\", \"IX\", \"X\", \"XI\", \"XII\",\n\t\t\t\t\t\"XIII\", \"XIV\", \"XV\", \"XVI\", \"XVII\", \"XVIII\", \"XIX\", \"XX\", \"XXI\", \"---\"];\n\n// Liste des arcanes majeures\n this.arcanesMajeures = [\t\n\t\"Le Magicien\", \n\t\"La Papesse\", \n\t\"L'Impératrice\", \n\t\"L'Empreur\", \n\t\"Le Pape\", \n\t\"L'Amoureux\", \n\t\"Le Chariot\", \n\t\"La Justice\", \n\t\"L'Ermite\", \n\t\"La Roue De Fortune\", \n\t\"La Force\", \n\t\"Le Pendu\", \n\t\"La Mort\", \n\t\"La Tempérance\", \n\t\"Le Diable\", \n\t\"La Tour Dieu\", \n\t\"L'Étoile\", \n\t\"La Lune\", \n\t\"Le Soleil\", \n\t\"Le Jugement\", \n\t\"Le Monde\", \n\t\"Le Mat\"\n];\n\n// Liste des résumés en 3 concepts pour chaque arcane majeure\n this.descTarot = [ \t\n\t\"Un nouveau départ, Initiative, Intelligence\", \n\t\"Méditation, Apprentissage, Sagesse\", \n\t\"Créativité, Séduction, Invention\",\n\t\"Action, Volonté, Rigueur\",\n\t\"Bienveillance, Protection, Générosité\",\n\t\"Émotion, Choix, Désir\",\n\t\"Progrès, Conquête, Évolution\",\n\t\"Raison, Équilibre, Décision\",\n\t\"Prudence, Discipline, Solitude\",\n\t\"Chance, Intuition, Cycle\",\n\t\"Maitrise, Détermination, Courage\",\n\t\"Réflexion, Silence, Sacrifice\",\n\t\"Transformation, Changement, Renaissance\",\n\t\"Calme, Joie, Apaisement\",\n\t\"Énergie, Magnétisme, Destruction\",\n\t\"Rupture, Conflit, Danger\",\n\t\"Générosité, Paix, Beauté\",\n\t\"Illusion, Fantasme, Folie\",\n\t\"Succès, Amitié, Bonheur\",\n\t\"Résultat, Protection, Succès\",\n\t\"Plénitude, Bonheur, Joie\",\n\t\"Chaos, Création, Originalité\"\n];\n\n this.imageRoot = \"https://raw.githubusercontent.com/icgod/tarotgodon/master/images/\";\n\n this.src_img = [\n\tthis.imageRoot+\"bateleur.gif\",\n\tthis.imageRoot+\"papesse.gif\",\n\tthis.imageRoot+\"imperatrice.gif\",\n\tthis.imageRoot+\"empereur.gif\",\n\tthis.imageRoot+\"pape.gif\",\n\tthis.imageRoot+\"amoureux.gif\",\n\tthis.imageRoot+\"chariot.gif\",\n\tthis.imageRoot+\"justice.gif\",\n\tthis.imageRoot+\"hermite.gif\",\n\tthis.imageRoot+\"roueDeFortune.gif\",\n\tthis.imageRoot+\"force.gif\",\n\tthis.imageRoot+\"pendu.gif\",\n\tthis.imageRoot+\"Mort.gif\",\n\tthis.imageRoot+\"temperance.gif\",\n\tthis.imageRoot+\"diable.gif\",\n\tthis.imageRoot+\"maisonDieu.gif\",\n\tthis.imageRoot+\"etoile.gif\",\n\tthis.imageRoot+\"lune.gif\",\n\tthis.imageRoot+\"soleil.gif\",\n\tthis.imageRoot+\"jugement.gif\",\n\tthis.imageRoot+\"monde.gif\",\n\tthis.imageRoot+\"mat.gif\"\n\t];\n}\n\n\nPaquet.prototype.init=function(){\n console.log(\"init!!\");\n for (var i = 0; i < 22; i++) { \n console.log(\"YO!\"+this.arcanesMajeures[i]);\n this.cartes.push(new Carte(this.arcanesMajeures[i], this.romanNumbers[i], this.descTarot[i], this.src_img[i]));\n }\n}\n\n// Tirage de trois cartes aléatoires\nPaquet.prototype.tirage3 = function()\n{\n\tvar t1, t2, t3;\n\t//var trio = [];\n\tt1 = eval(Math.floor(Math.random()*22));\n\tthis.tirage.push(this.cartes[t1]);\n\n\tt2 = eval(Math.floor(Math.random()*22));\n\twhile (t2 == t1){\n\t\tt2 = eval(Math.floor(Math.random()*22));\n\t}\n\tthis.tirage.push(this.cartes[t2]);\n\t\n\tt3 = eval(Math.floor(Math.random()*22));\n\twhile (t3 == t1 || t3 == t2){\n\t\tt3 = eval(Math.floor(Math.random()*22));\n\t}\n\tthis.tirage.push(this.cartes[t3]);\n\t//return [trio[0],trio[1],trio[2]];\n};\n\n// Création d'un paquet contenant les arcanes majeures\nvar paquetMajeur = new Paquet();\npaquetMajeur.init();\n\n// Tirage d'une carte \n// eval() est nécessance pour ne pas passer une fonction à la méthode .show()\n//var tirage = paquetMajeur.show(eval(Math.floor(Math.random()*22)));\npaquetMajeur.tirage3();\n//msg.payload = tri[0]+\"\\n\\n\"+tri[1]+\"\\n\\n\"+tri[2];\n//msg.payload = \"Tirage quotidien - TAROT GODON\";\nconsole.log(paquetMajeur.tirage[0]);\nmsg.payload = [paquetMajeur.tirage[0],paquetMajeur.tirage[1],paquetMajeur.tirage[2]];\n\n//msg.payload=[ {\"url\":tri[0].url,\"carte\":tri[0].figure, \"roman\":tri[0].roman, \"description\":tri[0].desc},\n// {\"url\":tri[1].url,\"carte\":tri[1].figure, \"roman\":tri[1].roman, \"description\":tri[1].desc},\n// {\"url\":tri[2].url,\"carte\":tri[2].figure, \"roman\":tri[2].roman, \"description\":tri[2].desc}];\n\n\nmsg.topic = \"Tirage quotidien - TAROT GODON\";\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":317,"y":80.88333129882812,"wires":[[]]},{"id":"61ab5291.ca2274","type":"subflow","name":"Tirage avec Images","info":"Déclencher et ajouter un noeud EMAIL pour recevoir le tirage","in":[{"x":70,"y":70,"wires":[{"id":"d7a1451f.e02408"}]}],"out":[{"x":581,"y":70,"wires":[{"id":"14a7d6bf.733a49","port":0}]}]},{"id":"14a7d6bf.733a49","type":"template","z":"61ab5291.ca2274","name":"Formatage HTML","field":"payload","format":"handlebars","template":"\n<html>\n<body>\n{{#payload}}\n <img src={{{url}}} height=300 alt=\"{{roman}} - {{figure}} - {{desc}}\" style=\"box-shadow:0 0 15px 5px grey;\">\n <h4>{{roman}} -- {{figure}}</h4>  \n {{desc}}\n <br>\n <br>\n <br>\n <br>\n{{/payload}}\n<h5>Tarot Godon</h5>\n</body>\n</html>","x":424.8833312988281,"y":69.88333129882812,"wires":[[]]},{"id":"d7a1451f.e02408","type":"subflow:1bb5aa15.f45906","z":"61ab5291.ca2274","name":"","x":226.05001831054688,"y":70.04998779296875,"wires":[["14a7d6bf.733a49"]]},{"id":"7fd4126a.f6047c","type":"subflow:61ab5291.ca2274","z":"305f4a60.42177e","name":"","x":363.8833312988281,"y":63.883331298828125,"wires":[["35127a71.a147d6","c1062cf8.f33ba"]]}]
